<div class="filesAndFolders">
    <div *ngFor="let folder of foldersService.folders" class="oneFolder" [ngClass]="{'show':folder.id_parent === 'null' && folder.masquer === false, 'dont-show': folder.id_parent != 'null' || folder.masquer === true}">
        <a [routerLink]="'/folder/'+foldersService.folders.indexOf(folder)">
            <app-one-folder [nom]="folder.nom">
            </app-one-folder>
        </a>
    </div>
    <div *ngFor="let file of filesService.files" class="oneFile" [ngClass]="{'show':file.id_parent === 'null' && file.masquer === false, 'dont-show': file.id_parent != 'null' || file.masquer === true}">
        <a [routerLink]="'/file/'+filesService.files.indexOf(file)">
            <app-one-file [nom]="file.nom">
            </app-one-file>
        </a>
    </div>
</div>
