*{
    user-select: none;
}
.filesAndFolders{
    display: flex;
    flex-wrap: wrap;
}
.filesAndFolders a{
    text-decoration:none;
}
.filesAndFolders .oneFolder{
    margin-right: 20px;
}
.filesAndFolders .oneFile{
    margin-right: 20px;
}
.dont-show{
    display:none;
}

@media screen and (max-width:800px){
    .filesAndFolders .oneFile, .oneFolder{
        margin-top: 10px;
    }
}